<!doctype html>
<html lang="en" class="h-full">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="icon" type="image/png" href="/static/logo.png">
  <title>IdentiFruit</title>
</head>

<body class="min-h-full flex items-center justify-center bg-linear-to-b from-slate-900 via-gray-900 to-slate-950 p-6">
  <div class="w-full max-w-md sm:max-w-lg rounded-4xl p-10 sm:p-14 text-center bg-slate-800 shadow-neu-lg">
    <h1 class="text-3xl sm:text-4xl font-semibold tracking-tight text-white">
      IdentiFruit
    </h1>

    <p class="mt-4 text-slate-400 text-base sm:text-lg">
      Upload a fruit image and get a prediction.
    </p>

    <a href="/app" class="mt-10 inline-block rounded-2xl px-10 py-4 font-semibold text-slate-400 bg-slate-800
               shadow-neu active:shadow-neu-pressed transition-all duration-200">
      Start
    </a>
  </div>
</body>

</html>
